---
---

// Blogposts

main {
    background-color: #303035;
    padding: 2rem 0.4rem;
}

#content {
    & > :first-child {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.25rem;
        display: inline;
    }

    & > :last-child {
        margin-bottom: 0;
    }
    
    width: var(--width);
    margin: 0 auto;

    p {
        width: Min(80ch, 100%)
    }

    #poster {
        display: inline;
    }

    #date {
        font-size: 0.8rem;
        color: #b3b39b;
        margin: 0;
    }

    hr {
        width: Min(80ch, 100%);
        margin-left: 0;
    }
}
