---
---

@import "header_bg";
#title::before {
  background-image: url("/imgs/bg1.webp");
}

#blogpost {
  width: Min(var(--width), 100vw);
  margin: 1rem auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid var(--border);
  box-sizing: border-box;
}

#content {
  max-width: 800px;
  flex-basis: 800px;

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--border);

  >div {
    flex-basis: 100%;
    padding: 1rem;
    background-color: var(--panel);

    >*:first-child {margin-top: 0;}
    >*:last-child {margin-bottom: 0;}
  }

  video,img {
    max-width: 100%;
  }
}

#sidebar {
  flex-basis: 298px;

  h3 {
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    background-color: #222;
  }

  ul {
    margin: 0;
    padding: 0.5rem;
    padding-left: 1.5rem;

    li {
      margin-top: 0;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }
    }
  }
}

#switcher {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--border);
  background-color: #222;
}