---
---

main {
    max-width: var(--width);

    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 1rem;

    padding: 2rem 0;
}

h1 {
    margin-top: 0;
}

#sidebar {
    height: max-content;
    position: sticky;
    top: 1rem;

    border: 1.5px solid var(--border-color);
    background: var(--popup-color);

    padding: 1rem;

    ul {
        padding-left: 1rem;
    }

    h3 {
        margin-top: 0;
    }
}