---
---

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --width: 1000px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    color: #444;
    background-color: #fafafa;

    margin: 0;
}

h1,h2,h3,h4 {
    font-weight: 300;
    color: #111;
}

main section > div {
    width: var(--width);
    margin: 0 auto;
}

main {
    margin: 0 auto;

    * {
        max-width: 100%;

        border-radius: 2px;
    }
}

header {
    height: 50px;
    border-bottom: 1.5px solid #444;
    //padding: 0.6rem;

    & > div {
        height: inherit;
        width: var(--width);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;

            h1 {
                margin: 0;
                margin-left: 0.3rem;
                font-size: 2rem;
            }

            img {
                display: block;
                height: 2rem;
            }
        }

        nav {
            display: flex;
            height: 100%;
            border-right: 1.5px solid #444;

            a {
                text-decoration: none;
                color: #444;
                padding: 0 1rem;
                height: 100%;
                border-left: 1.5px solid #444;
            }
        }
    }
}