---
---

@import "fonts";

@import "header";
@import "footer";
@import "theme";

:root {
    --width: 1100px;
}

body {
    background: var(--bg);
    font-family: 'Montserrat';
    font-size: 18px;

    margin: 0;
    padding: 0;

    color: var(--font-color);
    h1,a { color: var(--header-color); }

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

section {

  &>div {
    width: var(--width);
    margin: 0 auto;

    max-width: calc(100vw - 4rem);
  }
}

* {
    box-sizing: border-box;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: 500;
}

figure {
    margin: 0;

    p {
        margin: 0;
    }

    figcaption {
        text-align: center;
    }
}

code {
    color: #efefef;
    background:#222;
    padding: 0.1rem 0.2rem;

    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

.warning {
    background: rgba( black, 0.4 );
    color: #eeeeef;
    border: 1px solid var(--darkGray);

    border-left: 10px solid var(--red);

    margin: 2rem 0;
    padding: 0.5rem;

    h3 {
    margin-bottom: 0.5rem; 
    line-height: 1;
    font-size: 1.5rem;
    }

    >*:first-child {margin-top: 0;}
    >*:last-child {margin-bottom: 0;}
}
