---
---

main {
    #title {background-color: var(--spec-color);}
}

@import "header_bg";
#title::before {background-image: url('/imgs/bg.webp');}

div.downloads {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 2rem;

    margin: 2.5rem 0;

    a {
        text-decoration: none;
        padding: 0.75rem;

        border: 1px solid var(--border-color);
        background-color: var(--popup-color);

        display: flex;
        align-items: center;
        gap: 1rem;

        p {
            font-size: 1.25rem;
        }

        &:hover {
            background-color: var(--header-color);

            p {
                color: var(--popup-color);
            }

            img {
                filter: brightness(0);
            }
        }
    }
}

#title > div {
    display: grid;

    grid-template-columns: auto 300px;
    grid-gap: 3rem;
    justify-content: center;

    position: relative;

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    margin: 0 auto;

    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;

    #title_blurb {
        background: rgba(0,0,0, 0.3);
        border: 1px solid #333;
        padding: 0 1rem;
    }

    #downloads {
        position: absolute;
        bottom: -4rem;

        background-color: #222;

        a {
            border: 1.5px solid #222;
            padding: 0.5rem;
            text-align: center;
            text-decoration: none;
            background: #c39e27;
            color: #222;
            margin: 0 auto;
            display: block;
            font-weight: 400;
        }


        padding: 1rem;
        width: 300px;
        box-sizing: border-box;

        border: 1.5px solid #444;

        p {
            font-size: 1.2rem;
            text-align: center;
            margin-top: 0;
            color: #c39e27;
            font-weight: 400;
        }
    }
}

#features {
    ul {
        justify-content: center;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        list-style-type: none;
        padding: 0;

        li {
            padding: 1rem;
        }
    }
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}


#media {
    #content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        iframe {
            width: 100%;
            height: calc(100% - 3ex);
        }
    }
}

.warning {
    margin: 1rem auto;
    border: 1px solid var(--border-color);
    padding: 1rem;

    h3 {
        margin-top: 0;
        color: white;
        font-weight: 200;
        font-size: 1.6rem;
    }

    p {
        margin-bottom: 0;
        color: white;
    }

    &#backwards, &#bugs {
        border-left: 10px solid #71171a;;
        background: var(--popup-color);
    }

    &#buygames {
        border-left: 10px solid #454;
        background: var(--popup-color);
    }
}

#roadmap {
    #halver {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}

#support { 
    margin-top: 2rem;
    margin-bottom: 2rem;

    & > div {
        width: unset;
        padding: 2rem;
        box-sizing: border-box;

        h2 {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    #links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 1rem;

        a {
            //background-color: whitesmoke;
            padding: 1rem;
            box-sizing: border-box;

            display: flex;
            align-items: center;

            filter: brightness(130%) grayscale(1);
            transition: filter 0.25s;

            &:hover {
                filter: brightness(160%) grayscale(0);
            }
        }
    }
}

#guide {
    // For Chrome
    details summary::-webkit-details-marker {
        display:none;
    }

    details {
        border: 1px solid var(--border-color);
        background-color: var(--spec-color);

        margin-bottom: 1rem;

        &[open] summary {
            border-bottom: 1px solid var(--border-color);
        }

        summary {
            cursor: pointer;
            background-color: var(--popup-color);
            list-style-type: none;

            & > div {
                display: inline-grid;
                align-items: center;
                grid-template-columns: 32px auto;
                padding: 0.5rem;
                grid-gap: 1rem;
            }

            img {
                width: 32px;
            }
        }

        & > div {
            padding: 1rem;

            ol {
                padding-left: 1rem;
                margin: 0;

                & > li:first-child p { margin-top: 0;}
                & > li:last-child p { margin-bottom: 0;}
            }

            & > p:first-child { margin-top: 0;}
            & > p:last-child { margin-bottom: 0;}
        }
    }

}

#editor {
    div > img:first-of-type {
        display: block;
        width: 75%;

        margin: 1rem auto;
    }
}

#blog {
    ul {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;

        padding: 0;

        li {
            list-style-type: none;
            padding: 2rem;

            a {
                color: var(--header-color);
            }
        }
    }
}

@media (orientation: portrait) {
    code {
        line-break: anywhere;
    }

    #title > div #downloads {
        position: static;
        margin-top: 2rem;
    }
}