---
---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

section {
  padding: 3rem 2rem;

  .header {
    font-size: 2.5rem;
    font-weight: 800;

    margin-top: 0;
    margin-bottom: 2rem;

    border-bottom: 0.5rem solid var(--header-color);
    width: fit-content;
    box-sizing: content-box;
  }

  &>div {
    width: var(--width);
    margin: 0 auto;

    max-width: calc(100vw - 4rem);
  }
}

#splash {
  background-image: url("/imgs/bg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;

  padding-bottom: 0;
  padding-top: 6rem;

  >div {
    background: white;
    // border: 1px solid var(--border);
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: var(--bg);
  }

  h1 {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0.25rem;

  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
  }

  #start {
    display: flex;
    justify-content: space-between;

    img {
      max-height: 10rem;
    }
  }

  #media {
    img {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    & {
      h1 { font-size: 4rem; }
      h2 { font-size: 1.5rem; }
    }
  }

  @media (max-width: 420px) {
    & {
      h1 { font-size: 3rem; }
      h2 { font-size: 1.25rem; }
    }
  }
}

#features {
  ul {
    padding: 0;
    
    gap: 1rem 2rem;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;

    p {
      margin: 0;
    }

    p span:first-of-type {
      font-weight: 500;
      font-size: 1.25rem;
      display: block;
      margin-bottom: 0.5rem;
    }

  }
}

#downloads>div {
  .header {text-align: center;}

  >div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: var(--width);
    margin: 0 auto;

    >div {
      width: Min(350px, 100vw);
      border: 1px solid var(--border);
      padding: 0.5rem;
      box-sizing: border-box;

      background: var(--panel);

      .type {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;

          &:first-child {
            font-size: 1.5rem;
          }
        }
      }

      .links {
        margin-top: 0.5rem;

        display: flex;
        flex-direction: column;

        gap: 0.25rem;

        div {
          display: flex;
          gap: 0.25rem;
        }

        >a:first-of-type {
          padding: 1rem 0;
          font-size: 1.25rem;
        }

        a {
          text-align: center;
          flex-basis: 100%;
          text-decoration: none;

          padding: 0.5rem 0;
          border: 1px solid var(--border);
          color: var(--font-color);

          &:hover {
            background: var(--header-color);
            color: black;
          }
        }
      }

      &.editor .links a:last-of-type {
        padding: 1.85rem 0;
      }

    }
  }
}

#support>div {
  >div {
    width: var(--width);
    margin: 0 auto;
  }

  .links {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-auto-rows: 1fr;

    justify-content: space-evenly;

    gap: 0.5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid var(--border);
      padding: 0.5rem;

      box-sizing: border-box;
    }

    img {
      width: 100%;
    }
  }

  #supporters-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

#blog>div {
  >div {
    border: 1px solid var(--border);
    padding: 0.5rem;

    *:first-child {margin-top: 0;}
    *:last-child {margin-bottom: 0;}
  }
}
