---
---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --width: clamp(1300px, 60%, 1920px);
}

body {
    font-family: "Montserrat";
    margin: 0 auto;

    width: var(--width);

    background-color: #244;
    color: #f2f2e0;
    font-size: 18px;

    a {
        color: #f2f2e0;
        font-weight: bold;
    }
}

@media(orientation: portrait) {
    body {
        width: 100%;
    }

    #games div {
        display: flex;
        flex-direction: column;
    }

    main {
        div {
            display: block !important;
        }

        h2 {
            margin-top: 1.5rem !important;
        }
    }
}

header {
    background: url("imgs/city.jpg");
    background-size: 100%;

    padding: 2rem;

    display: flex;
    flex-direction: column;

    h1, p {
        margin: 0;
        width: max-content;
        max-width: 100%;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
        background: #222;
        padding: 0.5rem;
    }
}

main {
    background-color: #232728;

    img {
        display: block;
        max-width: 100%;
    }

    & > div {
        padding: 2rem 2rem;

        h2 {
            margin-top: 0;
        }
    }

    h1,h2,h3 {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    figure {
        width: 80%;
        margin: 2rem auto;

        a {
            transition: filter 0.25s;
        }

        a:hover {
            filter: brightness(120%);
        }

        figcaption {
            text-align: center;
            margin-top: 0.4em;
            opacity: 0.7;
        }
    }

    #downloads {
        h2,h3 {text-align: center;}

        #games {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: space-around;

            padding: 2rem 0;

            & > div {
                border: 2px solid;
                padding: 1rem;
                background: #364144;
            }

            div div {
                display: flex;
                justify-content: space-around;

                p {
                    text-align: center;

                    display: inline-block;
                    padding: 1rem 2rem;
                    background: #111;
                }
            }
        }
    }

    #why {
        background: #406040;
    }

    #warning {

        display: grid;
        grid-template-columns: 30% 70%;
        padding-top: 3rem;
        padding-bottom: 3rem;

        background: #573d30;
    }

    #future {
        background: #4e7882;

        display: grid;
        grid-template-columns: 30% 70%;

        div {
            margin-right: 1rem;
        }
    }

    #support {
        display: grid;
        grid-template-columns: 30% 70%;

        padding-top: 3rem;
        padding-bottom: 3rem;

        div {
        }

        #text {
            margin-left: 1rem;
        }

        #links {
        padding: 1.5rem;
            background: white;
        }
    }
}

footer {
    text-align: center;
    font-weight: bold;
    background: #222;

    padding: 1rem 0;
}
