header {
    height: 50px;
    border-bottom: 1.5px solid var(--border);
    background: hsl(260, 30%, 17.5%);

    position: sticky;
    top: 0;

    z-index: 100;

    >div {
        height: inherit;
        max-width: var(--width);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >a {
            border-left: 1px solid var(--border);
            border-right: 1px solid var(--border);
            padding-left: 1rem;
            padding-right: 1rem;
        }

        a {
            display: flex;
            text-decoration: none;

            align-items: center;

            &:hover {
                background-color: var(--panel);
            }

            h1 {
                margin: 0;
                margin-left: 0.3rem;
                font-size: 2rem;
            }

            img {
                display: block;
                height: 2rem;
            }
        }

        nav {
            display: flex;
            height: 100%;
            border-right: 1.5px solid var(--border);

            a {
                text-decoration: none;
                color: var(--font-color);
                padding: 0 1rem;
                height: 100%;
                border-left: 1.5px solid var(--border);

                align-items: center;

                p {
                    margin: 0;
                }

                &:hover {
                    background-color: var(--panel);
                }
            }
        }
    }
}

