<!DOCTYPE html>
<html lang="en" theme="brew">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="An open-source Abe's Oddysee/Abe's Exoddus engine.">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/imgs/scrab.png">
    <title>R.E.L.I.V.E. Engine</title>
    <!-- OpenGraph stuff -->
    <meta property="og:title" content="R.E.L.I.V.E.">
    <meta property="og:description" content="An Open-Source Abe's Oddysee / Abe's Exoddus engine.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aliveteam.github.io">
    <meta property="og:image" content="https://aliveteam.github.io/imgs/scrab.png">
  </head>
  <body>
    <header>
      <div>
        <a href="/index.html">
          <img alt="R.E.L.I.V.E. Engine logo" src="/imgs/scrab.png">
          <h1>R.E.L.I.V.E.</h1>
        </a>
        <nav>
          <a href="/index.html#guide"><p>Downloads</p></a>
          <a href="/index.html#features"><p>Features</p></a>
          <a href="/blog"><p>Blog</p></a>
          <a href="/legacy"><p>Legacy</p></a>
          <a href="/index.html#support"><p>Support us!</p></a>
        </nav>
      </div>
    </header>

    <main>
      <div id="title">
        <div>
          <h1>Devlog: {{ page.title }}</h1>
          <p id="poster"> by {{ page.poster }}</p>
        </div>
      </div>
      <div id="blogpost">
        <div id="content" class="popup">
          {{ content }}
          <p>Published on {{ page.date | date: "%d.%b.%Y."}}</p>
          <div id="nav">
            {% if page.previous %} <p><a href="{{ page.previous.url }}">Previous</a></p> {% endif %}
            {% if page.next     %} <p><a href="{{ page.next.url }}">Next</a></p>         {% endif %}
          </div>
        </div>
        <div id="sidebar">
          <h3>Archive</h3>
          <ul>
            {% for post in site.posts %}
            <li>
              <p><a href="{{ post.url}}">{{post.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>

    <footer>
      <div>
        <p>2018-2021, The R.E.L.I.V.E. Team</p>
        <p>Site created by <a href="https://oddwords.hu">Nemin</a> with help by THEONLYDarkShadow.</p>
      </div>
    </footer>
  </body>
</html>
