<!DOCTYPE html>
<html lang="en" theme="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="An open-source Abe's Oddysee/Abe's Exoddus engine.">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/imgs/scrab.webp">
    <title>R.E.L.I.V.E. Engine</title>
    <!-- OpenGraph stuff -->
    <meta property="og:title" content="R.E.L.I.V.E.">
    <meta property="og:description" content="An Open-Source Abe's Oddysee / Abe's Exoddus engine.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aliveteam.github.io">
    <meta property="og:image" content="https://aliveteam.github.io/imgs/scrab.webp">
  </head>
  <body>
    {% include header.html %}

    <main>
      <div id="title">
        <div>
          <h1>Devlog: {{ page.title }}</h1>
          <p id="poster"> by {{ page.poster }}</p>
        </div>
      </div>
      <div id="blogpost">
        <div id="content" class="popup">
          <div>
          {{ content }}
          </div>
	<nav id="switcher">
	  <p>{% if page.previous %}<a href="{{ page.previous.url }}">Previous</a>{% endif %}</p>
	  <p>Published on {{ page.date | date: "%d.%b.%Y."}}</p>
	  <p>{% if page.next     %}<a href="{{ page.next.url }}">Next</a>{% endif %}</p>
	</nav>
        </div>
        <div id="sidebar">
          <h3>Archive</h3>
          <ul>
            {% for post in site.posts %}
            <li>
              <p><a href="{{ post.url}}">{{post.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
