<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="imgs/scrab.png">
    <title>R.E.L.I.V.E. Engine</title>
    <!-- OpenGraph stuff -->
    <meta property="og:title" content="R.E.L.I.V.E.">
    <meta property="og:description" content="An Open-Source Abe's Oddysee / Abe's Exoddus engine.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aliveteam.github.io">
    <meta property="og:image" content="https://aliveteam.github.io/imgs/scrab.png">
  </head>
  <body>
    <header>
      <div>
        <h1>R.E.L.I.V.E.</h1>
        <div id="description">
          <p><strong>R.E.L.I.V.E.</strong> is a fan effort to create a new engine, capable of replacing Digital Dialect's aging PC port for Oddworld's first two cult-classic games.</p>
          <p>More than twenty years after their release, both games struggle to run on modern platforms, usually requiring a third-party application like DxWnd just to run them properly.</p>
          <p>R.E.L.I.V.E. intends to become a complete replacement of both the original AbeWin.exe/Exoddus.exe and any third-party tools, by providing both convenience and compatibility features like:</p>
        </div>
      </div>
    </header>


    {{ content }}

    <footer>
      <div>
        <p>2018-2020, The R.E.L.I.V.E. Team</p>
        <p>Site created by <a href="https://oddwords.hu">Nemin</a> with help by THEONLYDarkShadow.</p>
      </div>
    </footer>
  </body>
</html>
