<!DOCTYPE html>
<html lang="en" theme="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="An open-source Abe's Oddysee/Abe's Exoddus engine.">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/imgs/scrab.webp">
    <title>R.E.L.I.V.E. Engine</title>
    <!-- OpenGraph stuff -->
    <meta property="og:title" content="R.E.L.I.V.E.">
    <meta property="og:description" content="An Open-Source Abe's Oddysee / Abe's Exoddus engine.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://aliveteam.github.io">
    <meta property="og:image" content="https://aliveteam.github.io/imgs/scrab.webp">
  </head>
  <body>
{% include header.html %}

{{ content }}

{% include footer.html %}
  </body>
</html>
